<p id="notice"><%= notice %></p>

<p>
  <strong>Create date:</strong>
  <%= @related_date.Create_Date %>
</p>

<p>
  <strong>Open date:</strong>
  <%= @related_date.Open_Date %>
</p>

<p>
  <strong>Est closing date:</strong>
  <%= @related_date.Est_Closing_Date %>
</p>

<p>
  <strong>Escrow open date:</strong>
  <%= @related_date.Escrow_Open_Date %>
</p>

<p>
  <strong>Prelim date:</strong>
  <%= @related_date.Prelim_Date %>
</p>

<p>
  <strong>Appraisal date:</strong>
  <%= @related_date.Appraisal_Date %>
</p>

<p>
  <strong>Inspection date:</strong>
  <%= @related_date.Inspection_Date %>
</p>

<p>
  <strong>Generate closing instruction:</strong>
  <%= @related_date.Generate_Closing_Instruction %>
</p>

<p>
  <strong>Order loan doc date:</strong>
  <%= @related_date.Order_Loan_Doc_Date %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @related_date.Closing_Date %>
</p>

<p>
  <strong>Sch to refine date:</strong>
  <%= @related_date.Sch_To_Refine_Date %>
</p>

<%= link_to 'Edit', edit_related_date_path(@related_date) %> |
<%= link_to 'Back', related_dates_path %>
